<% layout('layouts/boilerplate') %> 

<form action="/register" method="POST">
    <div>
        <label for="username">Username </label>
        <input type="text" id="username" name="username">
        <label for="email">Email </label>
        <input type="email" name="email" id="email">
        <label for="password">Password </label>
        <input type="password" name="password" id="password">
        <button>Register</button>
    </div>
</form>