<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form action="/register" method="POST">
        <div>
            <label for="username">Username </label>
            <input type="text" id="username" name="username">
            <label for="email">Email </label>
            <input type="email" name="email" id="email">
            <label for="password">Password </label>
            <input type="password" name="password" id="password">
            <button>Register</button>
        </div>
    </form>
</body>
</html>